[Unit]
	Description=Online Battlemap
	After=network-online.target
	Wants=network-online.target

[Service]
	Type=simple
	ExecStart=/srv/battlemap/battlemap
	WorkingDirectory=/srv/battlemap/

[Install]
	WantedBy=multi-user.target
