.hidden
{
	display: none;
}

#distance
{
	font-size: 5vh;
	text-align: left;

	-webkit-text-stroke: 0.05em white;
	font-weight: bolder;

	min-height: 5vh;
	max-height: 5vh;
	margin: 0.5vh;
}

#toolbox
{
	margin: 0.4vmax;
	background-color: var(--bg-dark);
	border-radius: 1vmax;
	padding: 0.5vmax;
}

#toolbox button
{
	height:	3vmax;
	width:	3vmax;
	min-width:	3vmax;
	max-width:	3vmax;
	min-height:	3vmax;
	max-height:	3vmax;
	font-size: 2vmax;
	text-align: center;

	color: var(--fg-bright);
}

.window
{
	font-size: 1.1vmax;
	margin: 0.4vmax;
	background-color: var(--bg-medium);
	color: var(--fg-medium);
	border-radius: 1vmax;
	padding: 0.5vmax;
}

.window a
{
	color: #9CDCF0;
}

.window input
{
	background-color: var(--bg-light);
	color: var(--fg-bright);
	border-color: var(--bg-light);
	width: min-content;
	margin: 0.1em;
}

.window button, .window a
{
	margin: 0.33em;
	background-color: var(--bg-light);
	color: var(--fg-bright);
	border-color: var(--bg-light);
	font-weight: bold;
	cursor: pointer;
	user-select: none;
}


#tileedit_window {
	background: none;
}

#tileedit_window input{
	height: 7.5vmax;
	width: 7.5vmax;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	outline: none;
}

#dice_window {
	overflow-y: hidden;
	min-width: 15vmax;
	max-width: 15vmax;
	width: 15vmax;
}

.bare {
	background: none;
	border: none;
	padding: 0;
}

#initiative_list {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0.5em;
}

#initiative_list li span {
	margin-right: 0.3em;
}

#contextmenu {
	margin: 0;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;/* Chrome and Opera */
}

.clickable {
	cursor: pointer;
}

.spread {
	display: flex;
	justify-content: space-around;
}

.ralign {
	text-align: right;
}

.lalign {
	text-align: left;
}

.fixed *, .menu *
{
	font-size: 100%;
}

.error {
	color: red;
	margin-bottom: 10%;
}

#effects_window {
	height: 40vmin;
	overflow:hidden;
	overflow-y:scroll;
	padding: 2vmin;
}

#effects_window div a {
	cursor: pointer;
	padding-left: .1em;
}

#effects_window div input {
	padding: 0;
	padding-left: .1em;
	border: none;
	background: none;
	width: 1em;
	height: 1em;
}

.menu {
	background-color: var(--bg-light);
	position: absolute !important;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
}