:root
{
	--bg-light: #333;
	--bg-medium: #252526;
	--bg-dark: #1E1E1E;
	--fg-bright: #fff;
	--fg-medium: #ccc;
}

button {
	cursor: pointer !important;
}

a {
	color: #9CDCF0;
}

html {
  text-align: center;
  align-content: center;
  font-family: "sans-serif";
  font-size: 1.1vmax;
}

.faq {
	background-color: var(--bg-medium);
	color: var(--fg-medium);
}

.faq h1, .faq h2, .faq h3 {
	color: var(--fg-bright);
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

html, body {
  /* Margin bottom by footer height */
  margin: 0;
}

.fixed {
	position: fixed;
	z-index: 2;
}

.tr {
	top: 0;
	right: 0;
}

.tl {
	top: 0;
	left: 0;
}
.br {
	bottom: 0;
	right: 0;
}
.bl {
	bottom: 0;
	left: 0;
}

canvas {
	top: 0;
	left: 0;
	position: absolute;
}

input {
	width: 20vw;
	font-size: 2vh;
}

img {
	width: 10vw;
	height: 10vw;
}

#secret {
	color: white;
	font-style: italic;
}